version: '3.7'

services:
  db:
    image: mysql:8.0  
    command:
      - "--default-authentication-plugin=mysql_native_password"
    ports:
      - "3306:3306"
    volumes:
      - db:/var/lib/mysql
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    platform: linux/x86_64
    security_opt:
      - seccomp:unconfined
  back:
    build:
      context: ./back/
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    volumes:
      - ./back:/myapp
      - bundle:/usr/local/bundle
    depends_on:
      - db
    ports:
      - "3001:3001"
    environment:
      RAILS_ENV: development
      DB_HOST: db
      DB_USERNAME: root
      TZ: Asia/Tokyo
    command: bash -c "rails server -b 0.0.0.0 -p 3001 -e development"
  front:
    build:
      context: ./front/
      dockerfile: Dockerfile
    user: node 
    volumes:
      - ./front:/usr/src/app
      - /usr/src/app/app/node_modules/.cache
    ports:
      - "3000:3000"
    environment:
      REACT_APP_API_URL: http://localhost:3001
      REACT_APP_ENV: development
    command: sh -c "cd app && npm start"
volumes:
  db:
    driver: local
  bundle:
    driver: local