.main_title {
  font-size: 35px;
  float: left;
  width: 500px;
  padding: 2px 0px 0px 20px;
  font-family: cursive;
  color: black;
}
.shoukai {
  float: right;
  font-family: "ヒラギノ明朝 ProN";
  font-size: 20px;
  padding: 0px 15px 0px 10px;
  line-height: 60px;
  display: block;
  background-color: rgba(248, 255, 255, 0.5);
  margin-right: 10px;
  text-decoration: none;
}
header {
  background-color: white;
  height: 60px;
  width: 100vw;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  border-bottom: 2px solid #bbb;
  a {
    cursor: pointer;
  }
}
.header_login {
  background-color: white;
  height: 60px;
  width: calc(100vw - 19px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  border-bottom: 2px solid #bbb;
  a {
    cursor: pointer;
  }
}
.shoukai:hover {
  background-color: aquamarine;
  background-color: rgba(248, 255, 255, 1);
}
.title_link {
  text-decoration:none; 
  color: black;
}
.login_link {
  color: aliceblue;
  text-decoration: none;
}
.form_modal {
  z-index: 100;
  background-color: white;
  width: 400px;
  height: 550px;
  position: fixed;
  top: 110px;
  left: 510px;
  border-radius:13px;
}
.login_main  {
  opacity: 0.5;
}

.login_header {
  opacity: 0.5;
}

.btn {
  color: aliceblue;
  display: inline-block;
  padding: 8px 24px 8px 24px;
  width: 200px;
  border-radius: 10px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.54);
  box-shadow:0px 8px  black;
  font-family: cursive;
  &:hover{
    opacity: 0.9;
   &:active {
    box-shadow: none;
    position: relative;
    top: 8px;
   }
  }
}




.ログイン {
  margin-bottom: 10px;
}
.新規登録 {
  margin-top: 10px;
}
.midasi {
  font-size: 100px;
  position: relative;
  bottom: 50px;
  color: white;
  padding-bottom: 30px;
  padding-top: 10px;
  font-family: cursive;
}
.back_display {
  background-color: black;
  opacity: 0.5;
  height: 100vh;
  width: calc(100vw - 18px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
}

.form {
  position: absolute;
  top: 2px;
  left: 49px;
  width: 300px;
 h1{
  margin-left: 24px;
 }
  .input{
    border: 2px solid #bbb;
    width: 300px;
    margin-bottom: 30px;
    float: bottom;
    border-radius: 5px;
  }
  .input_errors {
    border: 2px solid red;
    width: 300px;
    margin-bottom: 30px;
    float: bottom;
    border-radius: 5px;
  }
  .psinput { 
    margin-bottom: -0.5px;
  }
  span {
    color: red;
  }
  c {
    color: red;
  }
  .close { 
    position: absolute;
    top: 5px;
    left: 290px;
    border-radius: 30px;
    padding: 15px 17px;
    width:fit-content;
    color: black;
    &:hover {
     background-color: #bbb;
    }
    a {
      position: relative;
      top: 1px;
      left: 0px;
    }
  }
  .errors {
    color: red;
    margin-top: -26px;
    margin-bottom: 2px;
  }
}


.btn-primary {
  width: 100px;
  font-size: 15px;
  background-color: khaki;
  margin-bottom: 10px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.log {
  color: black;
  float: right;
  font-size: 20px;
  padding: 0px 15px 0px 10px;
  line-height: 60px;
  margin-right: 10px;
  margin-left: -10px;
  text-decoration: none;
  &:hover {
   background-color: rgb(248, 248, 255);
 }
}


.list_area {
  margin-top: 60px;
  position: relative;
  position: fixed;
  top: 0%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  width: 230px;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow: hidden;
   &:hover {
    overflow-y: scroll;
    overscroll-behavior: none;
   }
   .list_inner {
      min-height: calc(100vh - 120px);
     ul {
      width: 170px;
      margin-left: 10px;
      border-bottom: #bbb 1px solid;
      padding-bottom: 15px;
      li {
        list-style: none;
      }
      .list_title {
        font-size: 15px;
        font-weight: 300;
      }
     }
     .list {
      padding: 15px 20px 15px 20px;
      font-size: 20px;
      width:fit-content;
      margin-left: -36px;
      border-radius: 40px;
      z-index: 1;
      &:hover {
       background-color: rgba(128, 128, 128, 0.281);
       transition: 0.3s;
      }
     }
     .list_active {
      padding: 15px 20px 15px 20px;
      font-size: 20px;
      width:fit-content;
      margin-left: -36px;
      border-radius: 40px;
      z-index: 1;
      font-weight: 900;
      color: blue;
      .list_title {
        font-size: 15px;
        font-weight: 900;
      }
     }
     .list2 {
      padding: 15px 20px 15px 20px;
      font-size: 20px;
      width:fit-content;
      margin-left: -36px;
      border-radius: 40px;
      z-index: 1;
      margin-bottom: -25px;
      .category_expand {
        position: relative;
        left: 60px;
      }
     }
     .category {
      position: relative;
      margin-bottom: 10px;
      a {
       font-size: 15px;
       cursor: pointer;
        &:hover {
          border-bottom: #bbb 1px solid;
        }
      }
      img {
        width: 20px;
        height: 20px;
        position: relative;
        top: 4px;
        margin-right: 5px;
      }
      ul {
        border: none;
        margin-bottom: -23px;
        .dish {
          height: 16px;
          width: fit-content;
          font-size: 13px;
          margin-top: 5px;
          padding-bottom: 1px;
          cursor: pointer;
          &:hover {
            border-bottom: 1px solid #000;
            padding-bottom: 0px;
          }
        }
      }
     }
     .list_link {
      text-decoration: none;
      color: black;
     }
     .post {
      background-color: hsl(186, 95%, 68%);
      padding: 15px 50px 15px 50px;
      text-align: center;
      border-radius: 20px;
      position: relative;
      top: 30px;
      left: 0px;
      margin-left: -5px;
      &:hover {
       background-color:  hsl(207, 95%, 68%);
       transition: 0.3s;
      }
     }
  }
}


.center {
  margin-left: 230px;
  width: calc(100% - 231px);
  min-height: calc(100vh - 60px);
  z-index: 1;
  .center_inner {
   min-height: calc(100vh);
  }
  .center_container{
    background-color: rgb(250,250,250);
    padding-top: 60px;
    min-height: calc(100vh - 60px);
    z-index: 1;
    width: calc(100vw - 249px);
    border-right: #bbb 1px solid;
  }
}

.icon {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.noscroll {
  overscroll-behavior: none;
  overflow: hidden;
}
span {
  position: absolute;
  top: 300px;
  color: red;
}
.onprofile {
  position: relative;
  top: 10px;
  right: 230px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  background-color: #bbb;
  padding: 5px;
  border-radius: 10px;
  .image {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    position: relative;
    top: 8px;
  }
}
.profile {
  position: relative;
  top: 10px;
  right: 230px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  &:hover {
    background-color: rgba(128, 128, 128, 0.281);
    padding: 5px;
    border-radius: 10px;
    transition: 0.3s;
  }
  .image {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    position: relative;
    top: 8px;
  }
}
.search {
   position: absolute;
   top: 13px;
   left: 525px;
   height: 30px;
   input {
     height: 32px;
     width: 330px;
     border-radius: 20px 0 0 20px;
 
     border: solid 1px #bbb;
     padding-left: 10px;
   }
   select {
    height: 36px;
    border: solid 1px #bbb;
    &:hover {
      background-color: rgba(248, 255, 255, 1);
     }
   }
   a {
    width: 30px;
    height: 30px;
    margin-left: -35px;
    padding: 14px 4px 2px 4px;
    position: relative;
    top: 7px;
    border-radius: 26px;
    &:hover {
      background-color: #bbb;
      opacity: 0.6;
    }
   }
   button {
    position: absolute;
    top: 2px;
    border-radius: 0 20px 20px 0;
    height: 36px;
    border: solid 1px #bbb;
    &:hover {
      background-color: rgba(248, 255, 255, 1);
     }
   }
}
.ReplayIcon {
  opacity: 0.3;
  position: fixed;
  top: 60px;
  cursor: pointer;
  &:hover {
    opacity: 1;
    transition: 0.1s;
  }
}
.post_container {
  width: calc(100vw - 300px);
  display: flex;
  flex-wrap: wrap;
  h1 {
    position: fixed;
    left: 400px;
    top: 100px;
    font-size: 50px;
  }
  .post {
    background-color: white;
    margin: 50px 15px 50px 120px;
    height: 350px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    &:active {
      box-shadow: none;
      position: relative;
      top: 5px;
      transition: 0.3s;
    }
    .head {
      width: 100%;
      height: 40px;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      display: flex;
      position: relative;
      .icon {
        display: flex;
        width: 30px;
        height: 30px;
        top: 6px;
        left: 10px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }
      }
      a {
        font-weight: 700;
        position: relative;
        top: 10px;
        left: 9px;
        text-decoration: none;
        color: inherit;
        &:hover {
          text-decoration: underline;
          opacity: 0.7;
        }
      }
      .bookmark {
        position: absolute;
        top: 9px;
        left: 270px;
        &:hover {
          cursor: pointer;
          color: #bbb;
          transition: 0.3s;
        }
      }
    }
    .middle {
      width: 100%;
      height: 230px;
      background-color: #000;
      img {
        width: 100%;
        height: 100%;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }
    .foot {
      width: 100%;
      height: 80px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      position: relative;
      a {
        display: block;
        width: 290px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;
        top: 5px;
        left: 10px;
        font-weight: 500;
        font-size: 20px;
      }
      .favorite {
        position: absolute;
        top: 50px;
        left: 10px;
        &:hover {
          cursor: pointer;
          color: #bbb;
          transition: 0.1s;
        }
      }
      .heart_count {
        position: absolute;
        top: 50px;
        left: 40px;
      }
    }
  }
}
.post_skeleton_container {
  width: calc(100vw - 300px);
  display: flex;
  flex-wrap: wrap;
.post_skeleton {
  background-color: rgba(187, 187, 187, 0.574);
  margin: 50px 15px 50px 120px;
  height: 350px;
  width: 300px;
  border-radius: 8px;
}
}
.pagenate_container {
  margin-left: -248px;
  width: calc(100vw);
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  margin-top: 50px;
}
.Now_Loding{
  position: fixed;
  top: 250px;
  left: 450px;
  font-size: 100px;
}
.pagenate {
  display: flex;
  position: relative;
  .page_move {
    text-align: center;
    height: 38px;
    width: 40px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(207, 95%, 68%);
    border: #bbb 1px solid;
    margin-left: 5px;
    margin-right: 5px;
    &:hover {
      background-color: hsl(230, 95%, 68%);
      transition: 0.2s;
    }
  }
  button {
     height: 40px;
     width: 40px;
     font-size: 15px;
  }
  .active {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .back {
    height: 20px;
    position: relative;
    top: 40px;
    left: 43px;
    border-bottom: black 1px solid;
  }
  .next {
    height: 20px;
    position: relative;
    top: 40px;
    right: 42px;
    border-bottom: black 1px solid;
  }
}
.post_show_container {
  background-color: rgb(250,250,250);
  border-radius: 10px;
  position: fixed;
  top: 60px;
  left: 230px;
  height: 630px;
  width: 1000px;
  z-index: 100;
  .head {
   margin-left: 30px;
   margin-top: 30px;
   display: flex;
   .icon {
     width: 40px;
     height: 40px;
     img {
       width: 100%;
       height: 100%;
       border-radius: 20px;
     }
   }
   a {
    position: relative;
    top: 16px;
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: underline;
      opacity: 0.7;
    }
   }
   .follow {
    background-color: yellow;
    height: 30px;
    line-height: 30px;
    width: 150px;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: 50px;
    text-align: center;
    &:hover {
      background-color: rgb(255, 213, 0);
      transition: 0.3s;
      cursor: pointer;
    }
   }
   .unfollow {
    background-color: rgba(255, 255, 255, 0.2);
    border: #bbb 1px solid;
    height: 30px;
    line-height: 30px;
    width: 150px;
    border-radius: 10px;
    position: relative;
    top: 10px;
    left: 50px;
    text-align: center;
    &:hover {
      background-color: white;
      transition: 0.3s;
      cursor: pointer;
    }
   }
  }
  .middle {
    position: relative;
    top: 20px;
    left: 30px;
    display: flex;
    .post_display {
      background-color: white;
      width: 470px;
      height: 460px;
      .post_image_display{
        background-color: #000;
        background-image: url(https://www.photolibrary.jp/mhd5/img821/450-20210208101554428372.jpg);
        width: 470px;
        height: 410px;
        img {
          width: 100%;
          height: 100%;
        }
        video {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
       }
    }
    .post_detail {
      background-color: white;
      width: 470px;
      height: 460px;
      overflow-y: scroll;
      overflow-x: hidden;
      border-left: #bbb 1px solid;
      &:hover {
        overscroll-behavior: none;
      }
      .post_detail_content {
        word-break: break-word;
        width: 440px;
        margin-left: 10px;
      }
    }
    .favorite_container {
      display: flex;
      .bookmark {
        position: relative;
        top: 6px;
        left: 3px;
        padding: 6px 2px 0px 0px;
        border-radius: 18px;
        &:hover {
          background-color: rgba(187, 187, 187, 0.255);
          transition: 0.3s;
          cursor: pointer;
          opacity: 0.7;
        }
        a {
          position: relative;
          bottom: 5px;
          font-size: 17px;
          font-weight: 900;
        }
      }
      .heart {
        position: relative;
        top: 7px;
        left: 280px;
        padding: 7px 8px 0px 5px;
        border-radius: 18px;
        &:hover {
           background-color: rgba(187, 187, 187, 0.255);
           transition: 0.3s;
           cursor: pointer;
           opacity: 0.7;
        }
        a {
          position: relative;
          bottom: 7px;
          left: 3px;
          font-size: 17px;
          font-weight: 600;
        }
      }
    }
  }
  .close { 
    position: absolute;
    top: 5px;
    left: 930px;
    border-radius: 30px;
    padding: 15px 17px;
    width:fit-content;
    color: black;
    &:hover {
     background-color: #bbb;
    }
    a {
      position: relative;
      top: 1px;
      left: 0px;
    }
  }
}
.postform_modal {
  background-color: white;
  position: fixed;
  top: 80px;
  left: calc(100vw / 5 + 40px);
  height: 600px;
  width: 800px;
  z-index: 100;
  border-radius: 12px;
  padding: 10px 10px 10px 10px;
  .close { 
    z-index: 100;
    position: fixed;
    top: 90px;
    left: 1050px;
    border-radius: 30px;
    padding: 15px 17px;
    width:fit-content;
    color: black;
    &:hover {
     background-color: #bbb;
    }
    a {
      position: relative;
      top: 0px;
      left: 0px;
    }
  }
}
.postform_modal_content {
  min-height: 100vh;
  h1 {
    color: khaki;
  }
}
.postform_modal_inner {
  overflow-y: scroll;
  height: 600px;
  }
.form_post {
  margin-left: 15px;
  width: 750px;
   input {
     width: calc(100% - 18px);
     padding: 5px 0px 5px 5px;
     border: 1px solid rgba(187, 187, 187, 0.803);
     margin-bottom: 20px;
     border-radius: 5px;
   }
   .title_length_errors {
    color: red;
   }
   textarea {
     opacity: 0.8;
     width: calc(100% - 18px);
     font-size: 20px;
     height: 200px;
     padding: 5px 0px 5px 5px;
     border: 1px solid rgb(187, 187, 187);
     margin-bottom: 20px;
     border-radius: 5px;
   }
   .input_time {
     text-align: center;
     padding-right: 5px;
     width: 20px;
     height: 10px; 
   }
   .input_cost {
    text-align: center;
    padding-right: 5px;
    width: 40px;
    height: 10px; 
   }
   .content_button {
    float: right;
    margin-right: 10px;
   }
   .material_input {
    padding-right: 5px;
    width: 300px;
    height: 10px; 
   }
   .amount_label {
    margin-left: 37px;
   }
   .material_add {
     cursor: pointer;
     width: fit-content;
     padding: 5px 10px;
     margin-bottom: 20px;
     &:hover {
      background-color: #bbb;
      transition: 0.3s;
      border-radius: 10px;
     }
   }
   .material_remove {
     cursor: pointer;
     width: fit-content;
     padding: 5px 10px;
     margin-left: 530px;
     margin-bottom: 20px;
     &:hover {
      background-color: #bbb;
      transition: 0.3s;
      border-radius: 10px;
     }
   }
   .material_errors {
    color: red;
   }
   .video {
     display:none;
   }
   .video_display{
    border-radius: 10px;
    height: 100%;
    width: 100%;
   }
   .video_file {
    opacity: 0.6;
    cursor:pointer;
    &:hover {
      opacity: 1;
    }
   }
   .coment {
    height: 100px;
   }
   .post_button {
     background-color: khaki;
     width: 100px;
     height: 40px;
     font-size: 15px;
    &:hover {
      background-color: yellow;
      transition: 0.3s;
    }
   }
}


::-webkit-scrollbar{
  height: 30px;
  width: 18px;
  padding: 3px;
}
body::-webkit-scrollbar-track{
  background-color: white;
  border-left: #bbb 1px solid;
}
::-webkit-scrollbar-thumb{
  background-color: gray;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 9px;
}
.list_link {
  text-decoration: none;
  color: black;
  }
  .postbutton {
   background-color: hsl(186, 95%, 68%);
   float: right;
   position: absolute;
   top: 10px;
   left: 1000px;
   padding: 10px 50px 10px 50px;
   text-align: center;
   border-radius: 20px;
   
   margin-left: -5px;
    &:hover {
     background-color:  hsl(207, 95%, 68%);
     transition: 0.3s;
   }
  }
.containers {
  height: calc(100vh);
  background-image: url(http://illust-ryokka.jp/wp-content/uploads/2017/12/Cuisine-16.png);
  background-size: auto;
  background-size: cover;
}

.top {
  border-right: 1px solid #bbb;
  min-height: calc(100vh - 50px);
  background-color: rgba(250, 250, 250);
  z-index: 1;
  .container {
    min-height: calc(100vh - 60px);
    position: absolute;
    top: 20px;
    left: 200px;
    h1 {
    font-family: cursive;
    color: rgba(0, 0, 0, 0.7);
    font-size: 100px;
    &:first-letter {
      color: rgba(0, 0, 0);
      font-size: 150px;
     }
    }
    h3 {
      margin-left: 20px;
      margin-top: -70px;
      font-size: 30px;
      &:first-letter {
        color: red;
        font-size: 50px;
       }
      }
    }
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 1;
  border-top: 1px solid #bbb;
}
.top_photo {
  position: absolute;
  top: 70px;
  left: 500px;
  height: 600px;
  width: 700px;
}
.profile_container {
  position: fixed;
  top: 60px;
  border-bottom: 1px solid #bbb;
  height: 175px;
  width: 100vw;
  .icon {
    position: relative;
    top: 30px;
    left: 200px;
    height: 100px;
    width: 100px;
    border-radius: 100px;
    .image {
      width: 100%;
      height: 100%;
      border-radius: 95px;
      object-fit: cover;
    }
  }
  .explanation {
    position: absolute;
    top: 50px;
    left: 350px;
    .user_name {
      font-size: 20px;
      font-weight: 800;
      margin-right: -50px;
    }
    .edit_profile {
      position: relative;
      left: 100px;
      background-color: rgba(187, 187, 187, 0.3);
      padding: 10px 10px 10px 10px;
      border-radius: 10px;
      text-decoration: none;
      color: #000;
      &:hover {
      background-color: #bbb;
      transition: 0.3s;
      }
    }
    .follow {
      background-color: yellow;
      border: #bbb 1px solid;
      height: 30px;
      line-height: 30px;
      width: 150px;
      border-radius: 10px;
      position: relative;
      bottom: 30px;
      left: 130px;
      text-align: center;
      &:hover {
        background-color: rgb(255, 213, 0);
        transition: 0.3s;
        cursor: pointer;
      }
     }
    .unfollow {
      background-color: rgba(255, 255, 255, 0.2);
      border: #bbb 1px solid;
      height: 30px;
      line-height: 30px;
      width: 150px;
      border-radius: 10px;
      position: relative;
      bottom: 30px;
      left: 130px;
      text-align: center;
      &:hover {
        background-color: white;
        transition: 0.3s;
        cursor: pointer;
      }
     }
    .user_data {
      margin-top: -8px;
      a {
        margin-right: 30px;
      }
    }
  }
}
.edit {
  margin-top: 30px;
  margin-left: 220px;
  border-radius: 10px;
  width: 500px;
  min-height: 800px;
  background-color: white;
  .edit_container {
    position: relative;
    top: 30px;
    left: 85px;
    form {
      button {
        &:hover {
          transition: 0.3s;
          border-radius: 10px;
          background-color: #bbb;
        }
      }
      .icon {
        position: relative;
        left: 110px;
        width: 100px;
        height: 100px;
       .image {
         width: 100%;
         height: 100%;
         border-radius: 50px;
        }
      }
      h3 {
        position: relative;
        left: 99px;
      }
      .icon_edit {
       position: relative;
       left: 70px;
       color: rgba(0, 0, 255, 0.8);
       border-bottom: 1px solid rgba(0, 0, 255, 0.8);
       &:hover {
        color: blue;
        border-bottom: 1px solid blue;
        cursor: pointer;
       }
       .image_input {
        display: none;
       }
      } 
      .name {
        width: 335px;
        margin-bottom: 30px;
        font-size: 18px;
      }
      .self_introduction {
        width: 335px;
        padding-bottom: 60px;
        margin-bottom: 30px;
      }
      .email {
        width: 335px;
        margin-bottom: 30px;
        font-size: 18px;
      }
      .password {
        width: 335px;
        margin-bottom: 30px;
        font-size: 18px;
      }
    }
   }
}
body {
  overscroll-behavior: none;
}
body.lock {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom:0px;
}


