.center {
    margin-left: 230px;
    margin-top: 60px;
    width: calc(100% - 231px);
    min-height: calc(100vh - 60px);
    z-index: 1;
    .center_inner {
     min-height: calc(100vh);
    }
    .center_container{
      background-color: rgb(250,250,250);
      min-height: calc(100vh - 60px);
      z-index: 1;
      width: calc(100vw - 249px);
      border-right: #bbb 1px solid;
    }
}